.my_nav_bar{
position: sticky;
top:0;
z-index: 9999;
}
html{
scroll-behavior: smooth;
}
li{
text-decoration: none;
}
body{
text-align: center;
}
#swes{
width: 500px;
}
#header{
font-size: 30px;
}